
body{
    font-family: 'Poppins';
    background-image: linear-gradient(to bottom,rgb(8, 85, 252),rgb(96, 170, 255));
    background-repeat: no-repeat;
    background-size: contain;
    
}
#circulo{
    background-image: url(../IMAGENS/fotoportfolio.png);
    background-position: center;
    background-size: 220px;
    background-repeat: no-repeat;
    background-color: rgb(0, 78, 194);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    align-items: center;
    margin: auto;
    border: 1px solid white;
    box-shadow: 4px 4px 12px rgb(0, 30, 85);
}
#sonho{
    margin-bottom: 80px;
}
h3{
    font-size: larger;
}
#circulo:hover{
    filter: brightness(80%);
}
header{
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
    align-items: center;
    margin-top: 20px;
}
main{
    margin-bottom: 60px;
    text-align: center;
}
.card img {
    max-width: max-content;
    margin-left: -10px;
    height: 150px;
}
.card{
    border: 0;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 6px 6px 12px #041a42aa;;
    padding: 25px;
    display: inline-block;
    max-width: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:4px;
}
.card:hover{
    filter: brightness(90%);
}
#curriculo{
    
    background-color: transparent;
    border: 3px solid rgb(0, 26, 255);
    border-radius: 10px;
    font-size: large;
    color: rgb(4, 0, 255);
    padding: 10px;
    position: absolute;
    margin-left: 760px;
    margin-top: -113px;
}
#curriculo:hover{
    color: white;
    background-color:rgb(0, 26, 255);
    transition: ease-in-out 0.3s;
}
#html{
    margin-left: -25px;
}
#css{
    margin-left: -3px;
}
#js{
    margin-left: -83px;
    width: max-content;
    height: 150px;
}
#github{
    max-width: 140px;
    margin-left: -18px;
    text-align: center;
}
#git{
    max-width: 150px;
    margin-left: -28px;
}
.card2{
    border: 0;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 6px 6px 12px #041a42aa;;
    padding: 15px;
    display: inline-block;
    max-width: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:3rem;
}
.card2 img {
    max-width: max-content;
    margin-left: -10px;
    height: 150px;
}
a{
    text-decoration: none;
}
footer{
    text-align: center;
    margin-top: 25px;
}
#side_bar{
    border: 3px solid rgb(0, 26, 255);
    border-radius: 10px;
    width: 50px;
    height: 40px;
    font-size: xx-large;
    position: absolute;
    margin-left: -930px;
    margin-top: 20px;
}
.links{
    display: grid;
    
}
li:hover{
    background-color: rgb(140, 151, 255);
}
#side_bar_div{
    display: none;
    margin: 0;
    text-align: left;
    position: absolute;
    margin-top: 70px;
    margin-left: 0;
    width: 200px;
    height: 400px;
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    font-size: x-large;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    scroll-padding: 1rem;
}
@media(max-width:600px){
    h1{
        font-size: larger;
    }
    p{
        font-size: large;
    }
    .card2{
        margin-top: 40px;
    }
    .card{
        margin-top: 20px;
    }
    
}
